$theme-color: #017dc6;

.c-ResetPasswordTemplate {

  .modal-dialog{
    .modal-content{
      border-bottom: 9px solid #7ac4e4;
      .modal-header{
        background: #006799;
        color: white;
        font-size: 27px;
        font-weight: bold;

      }
      .modal-body{
        //border-bottom: ;
        .c-ButtonsPanel{
          .reset-password-button-panel{
            .btn-primary {
              background: #006799;
              font-weight: bold;
              border-radius: 42px;
              border: none;
              font-size: 15px;
            }

            .btn-primary:disabled {
              background: #a3a8a9;
            }
            .cancel-btn{
              font-weight: bold;
              text-decoration: underline;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .icon-view-password, .icon-hide-password {
    cursor: pointer;
    display: block;
    content: "";
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .icon-view-password {
    background-image: url("./../../../../../images/showPassword.svg");
  }

  .icon-hide-password {
    background-image: url("./../../../../../images/hidePassword.svg");
  }
}
