$theme-color: #017dc6;

.c-ResetPasswordTemplate {

  .icon-view-password, .icon-hide-password {
    cursor: pointer;
    display: block;
    content: "";
    position: absolute;
    top: 0.3rem;
    right: 0;
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .icon-view-password {
    background-image: url("./../../../../../images/showPassword.svg");
  }

  .icon-hide-password {
    background-image: url("./../../../../../images/hidePassword.svg");
  }
}
