@import "./../../styles/override/variables.scss";

.c-Footer {
  //padding: 1.75rem 0;
  //padding: 0 6rem;
  background: #286697;
  color: white;
  overflow: hidden;

  .c-Footer__logoSocialContainer {
    display: inline-block;
    position: relative;
    //margin-bottom: 0.6rem;

    .c-Footer__wmWhiteLogo {
      //width: 7.625rem;
      height: 30px;
    }

    .c-Footer__logoText {
      bottom: -0.75rem;
      font-size: 0.8rem;
      line-height: 1.125rem;
      position: absolute;
      right: 2.1rem;
    }
  }

  .c-Footer__copyrightText {
    padding: 10px 6rem;
    color: #eee;
    //padding-left: 6rem;
    .c-Footer__privacyNav {
        color: #eee;
      margin: 0 10px;
      //border-left: 2px solid white;
      //padding-left: 10px;
    }
    .c-Footer__privacyNav:before{
      content: "|";
      padding-right: 10px;
    }

  }

  .login-footer-nav {
    padding: 1rem 6rem;
    background: #235882;

    .navbar-collapsible-footer {
      .nav-item {
        .nav-link {
          font-size: 1rem;
          color: $white;
          cursor: pointer;

          &.login-btn {
            // width : 90px;
            border: 1px solid $white;
            padding: 6px 25px;

            &:hover {
              background: $white;
              color: $blue;
              border-color: $blue;
            }
          }

          &:hover {
            color: $white;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
