@import "./../../styles/override/variables.scss";

.c-Footer {
  padding: 1.75rem 2.5rem;
  background: $blue;
  color: white;

  .c-Footer__logoSocialContainer {
    display: inline-block;
    position: relative;
    margin-bottom: 0.6rem;

    .c-Footer__wmWhiteLogo {
      width: 7.625rem;
    }

    .c-Footer__logoText {
      bottom: -0.75rem;
      font-size: 0.8rem;
      line-height: 1.125rem;
      position: absolute;
      right: 2.1rem;
    }
  }

  .c-Footer__copyrightText,
  .c-Footer__privacyNav {
    padding: 0.7rem 0 0.3rem;
    color: #eee;
  }

  .login-footer-nav {
    padding: 0;

    .navbar-collapsible-footer {
      .nav-item {
        .nav-link {
          font-size: 1rem;
          color: $white;
          cursor: pointer;

          &.login-btn {
            // width : 90px;
            border: 1px solid $white;
            padding: 6px 25px;
            @extend .py-1;

            &:hover {
              background: $white;
              color: $blue;
              border-color: $blue;
            }
          }

          &:hover {
            color: $white;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
