@import "../../styles/override/variables";

.c-WebformLandingPage {
    padding: 1.5rem 2.5rem;
    .btn {
        width: 150px;
        &.btn-primary {
            background: white;
            color: #006799;
            border: 1px solid #006799;
            opacity: 1;
        }
    }

    .content-header {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.08;
        margin-top: 0.5rem;
        min-height: 50px;
        color: #0D6799;
    }
}
