@import "../../override/variables";

$dropdown-white : #F9F9F9;


.home-header-nav{
  background: #235882;
  height: $nav-max-height;
  max-height: $nav-max-height;
  //margin: 0 -15px;

  .walmart-brand{
    img {
      width: 235px;
      height: 28px;
      margin-left: 27px;
    }
  }
  .navbar-collapsible-header{
    .nav-item {
      &.nav-item-profile {
        .dropdown-menu {
          background: $dropdown-white;
        }
      }
      .nav-link {
        font-size: 16px;
        color : white;
        font-weight: bold;
        &.login-btn{
          width : 90px;
          border : 1px solid $white;
          @extend .py-1;
        }
        &.user-name{
          display: flex;
          align-items: center;
        }
        &.nav-help {
          display: flex;
          align-items: center;

          .badge {
            font-size: 1rem;
            padding: 0.2em 0.42em;
          }
        }
      }
    }
  }
}
