@import "../../override/variables";

$nav-max-height : 61px;
.login-header-nav{

  &.navbar {
    padding: 1.75rem 2.5rem 0.5rem;
  }

  max-height: $nav-max-height;
  .walmart-brand{
    img {
      width: 10.75rem;
    }
  }
  .navbar-collapsible-header{
    .nav-item {
      .nav-link {
        font-size: 1rem;
        color : $blue;
        cursor: pointer;
        &.login-btn{
          // width : 90px;
          border : 1px solid $blue;
          padding: 6px 25px;
          @extend .py-1;

          &.disabled {
            pointer-events: none;
            background: #B2D8ED;
            border-color: #B2D8ED;
            color: white;
          }

          &:hover {
            background: $blue;
            color: white;
            border-color: white;
          }
        }
        &:hover {
          color: $blue;
          font-weight: bolder;
        }
      }
    }
  }
}
