@import "../../override/variables";

$nav-max-height : 118px;
.login-header-nav{

  &.navbar {
    padding: 2rem 6rem;
  }

  //max-height: $nav-max-height;
  .walmart-brand{
    img {
      width: 390px;
      //height: 28px;
    }
  }
  .navbar-collapsible-header{
    .middle-list{
      border: solid 2px #f7b40d;
      width: 0;
    }
    .nav-item {
      .nav-link {
        padding: 0;
        font-size: 20px;
        color : #006799;
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
        &.login-button{
          &.disabled {
            pointer-events: none;
            color: #a3a8a9;
          }
          &:hover {
            color: #006799;
          }
        }
        &:hover {
          color: #006799;
        }
      }
    }
  }
}
