.item-url-list {
    .col-8 {padding-right: 0.75rem;}
    .col-4 {
      padding-left: 0.75rem;
      .row {
        .col-8 {padding-right: 0.375rem;}
        .col-4 {padding-left: 0.375rem;}
      }
    }
    div.btn{
      border-radius: 42px;
      background: #006799;
      color: white;
      font-weight: bold;
      &.cancel-btn{
        font-weight: bold;
        background: none;
        text-decoration: underline;
      }
    }
    div.btn.disabled {
      pointer-events: none;
      background: #a3a8a9;
      border-color: #a3a8a9;
    }
    .plus-icon {
      position: relative;
      top: -1px;
    }
  }