/* This is an override file to customize the application theme.
** The variables defined below will define the values throughout the application.
*/

/*
** Color variables below;
*/
$navy-blue : #061E42;
$blue : #007DC6;

$theme-colors: (
  "navy-blue" : $navy-blue
);

/*
** Other Variables Below
*/






@import "../../../../node_modules/bootstrap/scss/bootstrap";
