.c-GroupedBarChart {
  //path {
  //  stroke: steelblue;
  //  stroke-width: 2;
  //  fill: none;
  //}
  //.axis path,
  //.axis line {
  //  fill: none;
  //  stroke: grey;
  //  stroke-width: 1;
  //  shape-rendering: crispEdges;
  //}
}

.d3-tip{
  z-index: 10;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
