@import "../../override/variables";

@import "../../override/variables";

//$subtitle-color: #6E7677;

.title-row {
  .brand-registration-title {
    font-size: 32px;
  }

  .brand-registration-subtitle {
    font-size: 16px;
    //color: $subtitle-color;
  }
}

.brand-reg-form {
  .primary-file-upload, .additional-file-upload {
    .upload-btn {
      width: 100px;
    }
  }

  .form-check-label{
    a{
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .brand-onboarding-button-panel{
    .btn-primary{
      border-radius: 42px;
      font-weight: bold;
      background-color: #286799;
      font-size: 15px;

    }

    .btn-primary:disabled {
      background-color: #a3a8a9;
      cursor: default;
      border: none;

    }

    .cancel-btn{
      text-decoration: underline;
      font-weight: bold;
      font-size: 17px;
      color: #006799;

    }
  }

}
