@import "../override/variables";

$nav-grey: #3D454C;

$nav-selected-grey : #2B3339;
$nav-left-border-color : #F7F9FA;
.left-nav {
  position: absolute;
  background: $nav-grey;
  width: $left-nav-width;
  height: calc(100% - #{$nav-max-height});
  overflow: hidden;

  .nav-item {
    .nav-link {
      color : $white;
      @extend .my-2;
    }

    &.active {
      background: $nav-selected-grey;
      border-left: 6px solid $nav-left-border-color;
    }

    .sub-nav-item {
      line-height: 0;
      border-left: 6px solid transparent;
      &.active {
        background: $nav-selected-grey;
        border-left: 6px solid $nav-left-border-color;
      }
    }
  }
}
