@import "../../../override/variables";


$border-color: rgb(226, 229, 231);
$local-gray: rgb(67, 71, 80);
$modal-header-background-color: $market-place-blue;

.modal {
  &.claim-details-modal {
    .modal-dialog {
      max-height: 80%;
      .modal-content {
        height: 100%;
        .modal-header{
          font-weight: bold;
          font-size: 27px;
          background: $modal-header-background-color;
          color: white;
        }
        .modal-body {

          .case-header-row {
            .case-header-text {
              font-size: 32px;
              font-weight: normal;
            }
            .case-status {
              position: relative;
              top: -6px;
              font-size: 14px;
              background: rgba(255, 194, 32, 0.2);
              margin-left: 15px;
              padding: 7px 14px;
            }
          }

          .claim-snapshots-row {
            .order-number-col-class {
              overflow: auto;
            }
            .snapshot-header {
              font-size: 14px;
              font-weight: bold;
            }

            .snapshot-value {
              font-size: 16px;
            }
          }

          .items-row {
            .item-header-row {
              color: #235882;
              font-size: 15px;
              position: relative;
              background: #e6f2f7;
            }
            .item-data-container {
              max-height: 290px;
              //overflow: auto;
              .item-data-row {
                border-bottom: solid 2px #e5f1f7;
                // height: 48px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 14px;
                position: relative;
                .item-url{
                  font-weight: bold;
                  color: #006799 !important;
                }
                .prevent-overflow{
                  word-wrap: break-word

                }
              }
            }

          }

          .status-description {
            font-size: 14px;
          }

          .modal-footer{
            height: 80px;
            width: 100%;
            background: $background-blue;
            border-bottom: 9px solid #7ac4e4;
            z-index: 1000;
            //box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.15);
          }
        }
      }
    }
  }
}
