@import "../../../override/variables";

.modal {
  width:530px;
  height: 325px;
  .modal-dialog {
    .modal-content {
      .modal-body {
        .status-header {
          font-size: 24px;
        }

        .status-description {
          white-space: pre-wrap;
          font-size: 14px;
        }
      }
    }
  }
}
