@import "../../../override/variables";

$modal-header-background-color: #235882;
.modal{
  &.new-brand-modal{
    .modal-dialog{
      .modal-content{
        .modal-header{
          height: 67px;
          background: $modal-header-background-color;
          color: white;
          font-weight: bold;
          font-size: 27px;
        }
        .modal-body{
          border-bottom: 9px solid #7ac4e4;
          .new-brand-button-panel{
            //background: black;
            //padding-bottom: 20px;
            padding: 20px 0px;
            .submit-btn{
              border-radius: 42px;
              background: $modal-header-background-color;
              border : none;
              font-weight: bold;
              font-size: 15px;
            }
            .submit-btn:disabled{
              background: #a3a8a9;
            }
            .cancel-btn{
              font-weight: bold;
              font-size: 18px;
              text-decoration: underline;
            }

          }
        }
      }
    }
  }
}
