@import "../../../override/variables";

.modal.new-claim-modal {
  .modal-dialog {
    height: 80%;
    .modal-content {
      height:  100%;
      max-height:  60rem;
      .modal-header{
        height: 65px;
        font-size: 27px;
        background-color: $modal-header-background-color;
        color: white;

      }

      .modal-body {
        height: calc(100% - 130px);
        overflow: auto;
        padding: 1.5rem;

        .claim-type-and-patent {
          .col-4:first-of-type {padding-right: 0.75rem;}
          .col-4:last-of-type {padding-left: 0.75rem;}
        }

        .item-url-list {
          .col-8 {padding-right: 0.75rem;}
          .col-4 {
            padding-left: 0.75rem;
            .row {
              .col-8 {padding-right: 0.375rem;}
              .col-4 {padding-left: 0.375rem;}
            }
          }
          div.btn{
            border-radius: 42px;
            background: #006799;
            color: white;
            font-weight: bold;
            &.cancel-btn{
              font-weight: bold;
              background: none;
              text-decoration: underline;
            }
          }
          div.btn.disabled {
            pointer-events: none;
            background: #a3a8a9;
            border-color: #a3a8a9;
          }
        }

        .plus-icon {
          position: relative;
          top: -1px;
        }

        .status-header {
          font-size: 24px;
        }

        .status-description {
          font-size: 14px;
        }
      }

      .modal-footer{
        height: 80px;
        background: $background-blue;
        border-bottom: 9px solid #7ac4e4;
        //box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.15);
      }

      .fix-alignment::before{
        top: .45rem;
        left: 21.8rem;
        background-size: 1.43rem;
      }
      
      .fix-alignment{
        padding-left: 1rem;
      }
    }
  }
}
