@import "../../../override/variables";

.modal {
  width:530px;
  height: 325px;
  .modal-dialog {
    .modal-content {
      .modal-body {
        .status-header {
          font-size: 24px;
        }

        .status-description {
          white-space: pre-wrap;
          font-size: 14px;
        }
        .btn-primary {
          background: #006799;
          font-weight: bold;
          border-radius: 42px;
          border: none;
          font-size: 15px;
        }

        .btn-primary:disabled {
          background: #a3a8a9;
          border: none;
        }
        .cancel-btn{
          text-decoration: underline;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
