@import "../../override/variables";

$stepper-row-height: 106px;

.stepper-row {

  height: $stepper-row-height;

  .stepper-col {
    .step-box {
      display: inline-block;
      margin-right: 49px;
      width: 200px;

      .bg-stepper-gray {
        background: #e2f3f7 !important;
      }

      .step-title {
        font-size: 14px;
        font-weight: bold;
      }

      .stepper-circle {
        position: relative;
        top: 15px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin: auto;
        background-color: #7ac4e4 !important;

        &.bg-complete {
          background: #7ac4e4 !important;
          //border: 4px solid #007DC6;
        }
        &.bg-stepper-gray{
          background: #e2f3f7 !important;
        }
        &.step-primary {
          border: 11px solid #7ac4e4;
          width: 1.4rem;
          height: 1.4rem;
          background: white !important;
          top: 12px;
          right: 0.1rem;
        }
      }

      .connect-bar {
        width: 235px;
        height: 5px;
        margin-left: -142px;
        margin-top: 5px;
        //background-color: #e2f3f7;
        &.bg-primary{
          background: #7ac4e4 !important;
        }
        &.adjust-margin {
          margin-top: -1px;
        }
      }
    }
  }
}
