/*
** The order of imports is important. custom override should be imported before bootstrap scss.
*/

@import "override/variables";
// @import "../../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Bogle, serif;
  //src: url("../assets/fonts/bogle");
}

@font-face {
  font-family: MyriadPro-Regular, sans-serif;
  src: url("../assets/fonts/myriad/Myriad-Pro-Regular.ttf");
}


$min-viewport-width: 1024px;
$min-viewport-height: 768px;

html, body {
  &, .js-content {
    &, .route-wrapper {
      &, .view-container {
        position: relative;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: Bogle, sans-serif;
        min-width: $min-viewport-width;
        min-height: $min-viewport-height;
        color: #0b1e40;
        overflow: auto;
        padding: 0;
      }
    }
  }
}

input[type="checkbox"], input[type="text"], input[type="select"] {
  box-shadow: none;
}

/*
** Generic Classes Start
*/

.check-green-icon-white-bg {
  border-radius: 50%;
  background: white;
  top: -1px;
  position: relative;
  height: 18px;
}

.no-border-radius {
  border-radius: 0;
}

.shadowed-box {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.mt-n23 {
  margin-top: -2.3rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.mb-35rem {
  margin-bottom: 3.5rem !important;
}

.pr-2rem {
  padding-right: 2rem;
}

.p-25 {
  padding: 2.5rem;
}

.m-25 {
  margin: 2.5rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pt-625 {
  padding-top: 0.625rem;
}

.pb-625 {
  padding-bottom: 0.625rem;
}

.p-625 {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pl-25 {
  padding-left: 2.5rem;
}

.mx-25 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.px-25 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-175 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.my-25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.py-25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-875 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.pr-12 {
  padding-right: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.pr-375 {
  padding-right: 0.375rem;
}

.pl-375 {
  padding-left: 0.375rem;
}

.px-375 {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-8 {
  margin-left: 8rem;
}

.mt-12 {
  margin-top: 12px;
}

.mt-12rem {
  margin-top: 12rem;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-28 {
  font-size: 1.75rem;
}

.list-horizontal {
  float: left;
  text-align: left;
}

.rounded {
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  margin-right: 0.3rem;
}

.line-height-reset {
  line-height: 1;
}

.header-grey {
  color: #42484f;
}

.btn-sm {
  @extend .font-size-14;
  height: 34px;
  line-height: 24px !important;
}

.btn-primary {
  background: $market-place-blue;
  font-weight: bold;
  border-radius: 42px;
  border: none;
  font-size: 15px;
}

.btn-outline-primary {
  border-radius: 42px;
  &:hover {
    background: $market-place-blue;
  }
}

.btn-danger {
  font-weight: bold;
  border-radius: 42px;
  border: none;
  font-size: 15px;
}

.btn-primary:disabled {
  background: #a3a8a9;
  border: none;
}

.cancel-btn {
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.anchor-styled {
  color: $market-place-blue;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

.width-unset {
  width:unset !important;
}

.min-height-unset {
  min-height: unset !important;
}

.border-unset {
  border: unset !important;
}

.background-unset {
  background: unset !important;
}

.margin-unset {
  margin: unset !important;
}

.padded-button {
  padding: 0.8rem 5rem !important;
}

.make-it-white {
  filter: grayscale(100%) brightness(100);
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.loader, .loader-small {
  position: relative;
  //padding: 0;
}

.loader-small:before {
  display: block;
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("./../images/Spinner Transparent BG.svg");
  background-size: #{$loader-small-size};
  background-repeat: no-repeat;
  background-position: center;
  height: $size-max;
  width: $size-max;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  z-index: 1050;
}

.loader {
  &:before {
    display: block;
    content: "";
    position: absolute;
    background-color: transparent;
    background-image: url("./../images/Spinner Transparent BG.svg");
    background-size: #{$loader-size};
    background-repeat: no-repeat;
    background-position: center;
    height: $size-max;
    width: $size-max;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    z-index: 1050;
  }
  &.list-loader {
    &:before {
      background-size: 1.8rem;
    }
  }
}

.loader:after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1040;
}

.field-loader, .field-ok, .field-alert, .field-select-arrow {
  position: relative;
}

.field-loader:before, .field-ok:before, .field-alert:before, .field-select-arrow::before {
  display: block;
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -0.7rem;
  width: 40px;
  height: 40px;
  background-image: url("./../images/field-loader.svg");
  background-repeat: no-repeat;
  z-index: 10;
}

.field-loader::before {
  top: 0.7rem;
}

.field-loader::before {
  top: 0.7rem;
}

.field-ok:before, .field-alert:before {
  background-size: 1.2rem;
}

.field-ok:before {
  background-image: url("./../images/check-grn.svg");
}

.field-select-arrow {
  &::before {
    background-image: url("./../images/arrow-down-dk.png");
    background-size: 1.45rem;
    top: 0.34rem;
  }

  &.col-4:before {
    right: 0.3rem;
  }
}

.field-alert:before {
  background-image: url("./../images/alertIcon-circle.svg");
}

.item-loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.move-beneath {
  z-index: -1;
}

.tooltip-close-button {
  cursor: pointer;
  top: 0.2rem;
  right: 1rem;
}

.mp-blue {
  color: $market-place-blue !important;
}

.bg-blue {
  background: $background-blue;
}

.tiles-background-dark {
  background-color: #e6eff4 !important;
}

.cta-error {
  background: #f2dede;
  color: #a94442;
  border-color: #ebcccc;
  padding: 0.75rem 2rem 0.75rem 1.25rem;
  border-radius: 0.25rem;
  text-align: left;
  position: relative;
  margin-bottom: 1rem;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
** Generic Classes End
*/

// OVERRIDES

.form-row > [class*="col-"]:first-child:not(.col-12) {
  padding-right: 12px;
}

.form-row > [class*="col-"]:last-child:not(.col-12) {
  padding-left: 12px;
}

.form-row > [class*="col-"]:first-child:not(.col-12) {
  padding-left: 5px;
}
