/*
** The order of imports is important. custom override should be imported before bootstrap scss.
*/

@import "override/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: BogleWeb-Regular;
  src: url('../assets/fonts/bogle/BogleWeb-Regular.ttf');
}
$min-viewport-width : 1024px;
$min-viewport-height : 768px;
html,body {
  &, .js-content{
    &, .route-wrapper {
      & , .view-container {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        font-family: BogleWeb-Regular, sans-serif;
        min-width: $min-viewport-width;
        min-height: $min-viewport-height;
      }
    }
  }
}

/*
** Generic Classes Start
*/

.no-border-radius {
  border-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}
/*
** Generic Classes End
*/

.view-container {
  @extend .container-fluid;
}


