/*
** The order of imports is important. custom override should be imported before bootstrap scss.
*/

@import "override/variables";
// @import "../../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: BogleWeb-Regular;
  src: url('../assets/fonts/bogle/BogleWeb-Regular.ttf');
}

@font-face {
  font-family: MyriadPro-Regular, sans-serif;
  src: url('../assets/fonts/myriad/Myriad-Pro-Regular.ttf');
}


$min-viewport-width : 1024px;
$min-viewport-height : 768px;

.view-container {
 // @extend .container-fluid;
}

html,body {
  &, .js-content{
    &, .route-wrapper {
      & , .view-container {
        position: relative;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: BogleWeb-Regular, sans-serif;
        min-width: $min-viewport-width;
        min-height: $min-viewport-height;
        overflow: auto;
      }
    }
  }
}

input[type="checkbox"], input[type="text"], input[type="select"] {
  box-shadow: none;
}

/*
** Generic Classes Start
*/

.check-green-icon-white-bg {
  border-radius: 50%;
  background: white;
  top: -1px;
  position: relative;
  height: 18px;
}

.no-border-radius {
  border-radius: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.btn-sm {
  @extend .font-size-14;
  height: 34px;
  line-height: 24px !important;
}

.make-it-white {
  filter: grayscale(100%) brightness(100);
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.loader, .loader-small {
  position: relative;
  padding: 0;
}

.loader-small:before {
  display: block;
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("./../images/Spinner Transparent BG.svg");
  background-size: #{$loader-small-size};
  background-repeat: no-repeat;
  background-position: center;
  height: $size-max;
  width: $size-max;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  z-index: 1050;
}

.loader:before {
  display: block;
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("./../images/Spinner Transparent BG.svg");
  background-size: #{$loader-size};
  background-repeat: no-repeat;
  background-position: center;
  height: $size-max;
  width: $size-max;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  z-index: 1050;
}

.loader:after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1040;
}

.field-loader {
  position: relative;
}

.field-loader:before {
  display: block;
    content: "";
    position: absolute;
    top: 0.7rem;
    right: 0rem;
    width: 40px;
    height: 40px;
    background-image: url("./../images/field-loader.svg");
    background-repeat: no-repeat;
    z-index: 10;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.move-beneath {
  z-index: -1;
}

.tooltip-close-button {
  cursor: pointer;
  top: 0.2rem;
  right: 1rem;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
** Generic Classes End
*/




