.c-ChartsContainer {
  height: 25rem;

  .c-ChartsContainer__content__footer {
    height: 11.11%;
  }

  .c-ChartsContainer__content__body {
    height: 72.22%;
  }

  .x-axis .tick text {font-weight: bold;}
  .x-axis, .y-axis {
    path.domain {opacity: 0;}
    .tick {
      line {stroke: #e6f2f7;}
    }
  }
}
