@import "../../../override/variables";

$filter-color : #286799;
$table-header-color:#235882;
$action-row-height : 50px;
$pagination-inactive-color : #627282;
$dropdown-border : #BBCAD2;
$filters-background : #e7f3f8;
$filters-text-color : #333333;
$filer-text-color : #424242;
$market-place-blue: #006799;
$ozark-noir-blue: #0b1e40;

.claim-list-content {
  color: $ozark-noir-blue;
  .content-header-row {
    background: white;
    .col{
      h3{
        font-weight: bold;
        font-size: 29px;
      }
    }

  }
  .content-row {
    .content-col{
      max-height: 100%;
      .action-row {
        height: $action-row-height;
        .btn{
          border-radius: 42px;
          background: $market-place-blue;
          font-weight: bold;
          font-size: 15px;

          &.btn-download-template {
            background: white !important;
            color: $market-place-blue;
            text-decoration: underline;
          }
        }
        
        .input-group {

          #search-box {
            background: url("../../../../images/search_icon.svg") no-repeat left 10px center;
            padding-left: 39px;
            border: $default-input-border;
            border-radius: $input-border-radius;
            height: 34px;
            color: $ozark-noir-blue;
            &:focus, &:active {
              border : 1px solid #7AC4E4;
              box-shadow: 0px 3px 18px #7AC4E433;
            }
          }
        }

        .filter-btn {
          color : $filter-color;
          line-height: 28px;
          img {
            margin-top: -4px;
            height: 21px;
            width: 24px;
          }
        }
      }
      .filter-dropdown-row{
        position: relative;
        height: 0;
        .filter-dropdown-column {

          z-index: 9;
          top: 30px;
          display: none;

          &.show {
            display: block;
          }

          .custom-dropdown-menu {
            border : 0;
            background: $filters-background;
            box-shadow: 0 2px 18px 0 rgba(0, 0, 18, 0.15);

            .filter-headers-row {
              .clear-btn {
                font-size: 15px;
                color: $market-place-blue;
                text-decoration: underline;
              }
              .apply-btn{
                border-radius: 42px;
                font-size: 15px;
                background: $market-place-blue;
              }

              .filter-close-btn{
                font-weight: bolder;
                font-size: 50px;
                top: -21px;
                position: absolute;
                color: $market-place-blue;
              }
            }

            .filter-content-row {
              max-height: 25rem;
              overflow-y: scroll;
              .filter-col-header {
                padding-bottom: 10px;
                border-bottom: 2px solid white;
                width: 170px;
                font-size: 16px;
                margin-bottom: 8px;
              }
              ul.filter-col-list {
                list-style: none;
                li {
                  input[type="checkbox"] {
                    top: 1px;
                    width: 19px;
                    height: 19px;
                    padding-right: 10px;
                  }
                  .form-check-label{
                    font-size: 16px;
                    margin-left: 10px;
                  }

                  @extend .my-3
                }
              }
            }
          }
          .custom-dropdown-menu::after{
            content: "";
            position: absolute;
            bottom: 100%;
            left: 95.2%;
            margin-left: -5px;
            margin-bottom: 23px;
            border-width: 21px;
            border-style: solid;
            border-color: transparent transparent $filters-background transparent;
            //box-shadow: 0 0 2px 0 rgba(0, 0, 18, 0.15);
          }
        }

      }
      .filter-pin-row{
        //box-shadow: inset -80px 0 40px -55px #dfdfdf;
        white-space: nowrap;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        overflow-x: scroll;
      }
      .filter-pin-row::-webkit-scrollbar{
        height: 0 !important;
      }
      .claim-list-row {
        margin-right: -40px;
        margin-left: -40px;
        height: calc(100% - #{$action-row-height});

        .claim-list-table-row {
          .custom-table{
            padding-left: 16px;
            padding-right: 16px;
            .table-body{

                .claim-link{
                  font-weight: bold;
                  color: $market-place-blue;
                  text-decoration: underline;
                }

            }
          }

        }
        .claim-list-table-manage-row {
          //position: relative;
          .count{
            color: $market-place-blue;
          }

            .claim-count-toggle-btn {
              border: $default-input-border;
              border-radius: $input-border-radius;
              font-weight: bold;
              font-size: 14px;

              &:focus, &:active {
                box-shadow: 0px 3px 18px #7AC4E433;
                border: 1px solid #7AC4E4;
                outline: 0;
              }
            }
            .claim-count-dropdown-menu {
              box-shadow: 0 2px 18px 0 rgba(0, 0, 18, 0.15);
              .dropdown-item{
                cursor: pointer;
                &:hover{
                  background: $dropdown-hover-background;
                }
                &:active{
                  background: $dropdown-active-background;
                }
              }
            }

        }
      }
    }

  }
}
