.c-Hero {
  .row{
    width: 100%;
    margin: 0;
    //height: 421px !important;
    .c-Hero__left-container{
      background: #e2f3f7 url("../../images/leftTileBackground.png") no-repeat;
      background-size: 100% 100%;
      .c-Hero__tag-line-container {
        .c-Hero__tag-line {
          //   width: 400px;
          text-align: center;
          //padding: 0 135px;
          font-size: 40px;
          font-weight: bold;
          color: #0b1e40;
          margin-bottom: 1.5rem;
          line-height: 1.2;
        }
        .button-con{
          text-align: center;
        }

        .c-Hero__register-btn {
          padding: 0.5rem 3.5rem;
          border-radius: 42px;
          background: #006799;
          font-weight: bold;
        }
      }

    }
    .c-Hero__right-container {
      background: url("../../images/laptopImage.jpg") no-repeat center;
      //background-size: 100% 100%;
      background-size: cover;
    }
  }




}
