.c-Webform {
    .header{
        font-weight: bold;
        padding-bottom: 1.5rem;
    }

    .submit-btn {
        width: 150px;
    }
    .label-text {
        color: #333;
    }
    
    .required {
        &::after {
            content: url("../../images/astrick.svg");
            background-size: 1.45rem;
            position: absolute;
            top: -0.5rem;
            margin-left: 0.25rem;
            size: 0.5rem;
        }
    }

    .custom-input-element:focus+.custom-input-label {
                & .required {
                   &::after {
                       transform: scale(0.7);
                   }
               }
   }

   .has-error {
        .custom-input-element, .custom-input-label {
            & .required {
                &::after {
                    content: url("../../images/astrick-red.svg") !important;
                }
            }
        }
    }
    
}
