.c-WebForm {
    padding: 1.5rem 2.5rem;
    .header{
        font-weight: bold;
        padding-bottom: 1.5rem;

    }
    .web-form-title {
        font-weight: bold;
        font-size: 28px;
    }
    .web-form {

    }
    
}
