@import "../../override/variables";

$nav-blue: $background-blue;
$active-nav-link-color:#0B1E40;
$nav-link-color:#286799;
$nav-selected-white : #FFFFFF;
.left-nav {
  position: absolute;
  background: $nav-blue;
  width: $left-nav-width;
  height: calc(100% - #{$nav-max-height});
  overflow: hidden;



  .nav-item {
    @extend .py-2;
    text-align: center;

    .nav-link {
      color : $nav-link-color;
      font: normal normal bold 17px/22px Bogle;
    }

    &.main-nav-item {
      background: $nav-blue;
      &.active{
        .nav-link {
          color : $active-nav-link-color;
          background: $nav-selected-white;
          //border-left: 6px solid $nav-left-border-color;
        }
        .sub-nav-item {
          .nav-link {
            background: transparent;
            border-left: 0;
          }
        }
      }
    }

    .sub-nav-item {
      line-height: 0;
      border-left: 6px solid transparent;
      &.active {
        background: $nav-selected-white;
        //border-left: 6px solid $nav-left-border-color;
      }
    }
  }


}
