@import "../../override/variables";

$nav-blue: $background-blue;
$active-nav-link-color:#0B1E40;
$nav-link-color:#286799;
$nav-selected-white : #FFFFFF;
.left-nav {
  position: absolute;
  background: $nav-blue;
  width: $left-nav-width + 16px;
  height: calc(100% - #{$nav-max-height});
  overflow: hidden;



  .nav-item {
    @extend .py-2;

    .nav-link {
      color : $nav-link-color;
      font-weight: bold;
      font-size: 16px;
      .nav-link-image{
        margin-top:-2px;
      }
      //img{
      //  //margin-top: -1px;
      //  width: 26px;
      //  height: 26px;
      //}
    }

    &.main-nav-item {
      background: $nav-blue;
      &.active{
        .nav-link {
          color : $active-nav-link-color;
          background: $nav-selected-white;

        }
        .sub-nav-item {
          .nav-link {
            background: transparent;
            border-left: 0;

            //height: 24px;
          }
        }
      }
    }

    .sub-nav-item {
      line-height: 0;
      border-left: 6px solid transparent;
      &.active {
        background: $nav-selected-white;
      }
    }
  }


}
