@import "../../override/variables";

$progress-bg-color: #B2D5C9;
$progress-bar-color: #53b8e3;

.progress {
  position: relative;
  min-height: 3rem;
  background: $progress-bg-color;
  .progress-bar-text {
    position: absolute;
    //height: 100%;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: MyriadPro-Regular, sans-serif;
    //line-height: 34px;
    padding-left: 15px;
  }
  .progress-bar {
    background: $progress-bar-color;
  }
}
