@import "../override/variables";

$item-color : #2B3339;
.custom-dropdown {
  .dropdown-toggle-btn {

  }

  .dropdown-menu {
    .dropdown-item {
      &:active, &:focus {
        background: transparent;
        color : $item-color;
      }
    }
  }
}
