.c-WebformWorkflowDecider {
    .page-title{
        font-weight: bold;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 4rem;
        color: #286799;
    }

    .page-header {
        font-weight: bold;
        padding-left: 4rem;
        padding-bottom: 1rem;
    }

    .message-content {
        font-size: 20px;
    }
}
