.c-WebformWorkflowDecider {
    .page-title{
        font-weight: bold;
        //padding-bottom: 0.5rem;
        margin-top: 1.5rem;
        padding-bottom: 0.3rem;
        margin-left: 4rem;
        color: #286799;
    }

    .page-header {
        font-weight: bold;
        margin-left: 6rem;
        margin-top: 1rem;
        padding-bottom: 0.5rem;

    }

    .message-content {
        font-size: 20px;
    }
}
