@import "../../override/variables";

.custom-dropdown {
  color: $ozark-noir-blue;

  a, a:not([href]) {
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }
  }

  .dropdown-toggle-btn {
    padding: 5px;
  }

  .dropdown-menu.show {
    //padding: 1rem 0;
    left: -47px !important;
    .dropdown-item {
      height: 24px;
      &:hover{
        background: $dropdown-hover-background;
      }
      &:active, &:focus {
        background: $dropdown-active-background;
        //color : $item-color;
      }
    }
  }
}
