@import "../../override/variables";

.custom-dropdown {
  color: $ozark-noir-blue;
  a, a:not([href]) {
    cursor: pointer;
    &:not(:first-child) {
      padding-top: 0.7rem;
    }
    &:not(:last-of-type) {
      padding-bottom: 1rem;
    }
  }

  .dropdown-toggle-btn {
    padding: 5px;
  }

  .dropdown-menu.show {
    //padding: 1rem 0;
    border: unset;
    left: -47px !important;
    box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.15);
    .dropdown-item {
      //height: 24px;
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
      &:hover{
        background: $dropdown-hover-background;
      }
      &:active, &:focus {
        background: $dropdown-active-background;
        //color : $item-color;
      }
    }
  }
}
