@import "../../override/variables";

.content-page {
  display: inline-block;
  width: calc(100% - #{$left-nav-width});
  height: calc(100% - #{$nav-max-height});
  overflow: hidden;
  position: absolute;
  left: $left-nav-width;
}
