.c-FieldSetContainer {
  .btn-outline-primary.disabled {
    cursor: default;
    &:hover {
      background: white;
    }
  }
  .btn-outline-primary:not(.disabled):hover {
    img {
      -webkit-filter: grayscale(100%) brightness(100);
      filter: grayscale(100%) brightness(100);
    }
  }
}
