@import "../../override/variables";

$table-header-color : #235882;
$table-content-color : #0b1e40;
$table-border-color : #e5f1f7;
$table-header-background-color : #e6f2f7;
$effective-padding: 40px;
$header-row-height: 34px;
$row-height: 48px;
.custom-table {
  margin: 0;
  thead, .table-header {
    //height: $header-row-height;
    background: $table-header-background-color;
    padding: 0 15px;
    border: none;
    tr, .table-row {
      border: none;
      th, .table-head-cell {
        border: none;
        padding: 8px 15px;
        color : $table-header-color;
        font-size: 14px;
        font-weight: normal;
        vertical-align: middle;
        border-top : 0;
        border-bottom: 0;
        &:first-child {
          border-left: 0;
          padding-left: $effective-padding;
        }

        &:last-child {
          border-right: 0;
          padding-right: $effective-padding;
        }

        .sort-icon {
          height: 24px;
          margin-top: -4px;
        }
      }
    }
  }

  tbody, .table-body {
    height: calc(100% - #{$header-row-height});
    overflow: auto;
    padding: 0 15px;
    tr, .table-row {
      min-height: $row-height;
      border-bottom: solid 2px $table-border-color;
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1rem;

      td, .table-body-cell {
        font-size: 14px;
        font-weight: normal;
        vertical-align: middle;
        color : $table-content-color;

        .claim-status {
          border-radius: 44px;
          padding: 4px 8px;
          background: #fff9e9;
          &.Closed {
            background: #f1f1f2;
          }
        }

        .company-name {
          font-size: 11px;
          //display: inline-block;
          border-radius: 5px;
          margin: 0.5px 0;
          height: 15px;
          padding: 0 2px !important;
          color: #8797a5;
          background-color: #dbe0e4;
          //border-radius: 2px;
        }

        &:first-child {
          padding-left: $effective-padding;
        }

        &:last-child {
          padding-right: $effective-padding;
        }
      }
    }
  }

  &.brand-list-table {
    .parent-row {
      background: #F4F4F4;
    }
  }
}
