.c-DragAndDrop {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // justify-content: center;
    text-align: center;
    .file-input {
        display: none;
    } 
    
    .file-upload-btn {
        color: white;
        text-transform: uppercase;
        outline: none;
        background-color: #006799;
        font-weight: bold;
        padding: 8px 15px;
        margin-bottom: 5px;
    }
    
    .drop-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 75%;
        height: 200px;
        border: 4px dashed #8d8d8a;
        transition:  1s;
        &.scale-down {
            transform: scale(0.75);
        }
    }
    
    .upload-icon {
        width: 50px;
        height: 50px;
        background: url(../../images/upload.svg) no-repeat center center; 
        background-size: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: -1rem;
    }
    
    .drop-message {
        text-align: center;
        color: #006799;
        font-family: Arial;
        font-size: 20px;  
    }

    .file-display-container {
        //position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 75%;
        text-align: left !important;
        transform: scale(1.25);
    } 
      
    .file-name {
        display: inline-block;
        vertical-align:top;
        //margin-left: 50px;
        color: #006799;
    }
    
    .file-remove  {
        //position: absolute;
        top: 4px;
        right: 6px;
        line-height: 15px;
        cursor: pointer;
        color: red;
        margin-right: -10px;
    }

    .file-error-message {
        color: red;
    }

    .uploaded-image {
        height: 6rem;
    }
}
