.c-DateSelector {
  .CalendarDay__default {
    border: none;
  }

  .modal-footer {
    border-top: none;
    padding: 0.75rem 1.5rem 1.5rem;
    button {
      margin: 0;
    }
  }
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container  {
   width: 365px !important;
   height: 100%;
   color: #3a3a3d;

}

.customDatePickerWidth{
   display: flex;
   border-color:rgba(34, 109, 170, 0.23);
   border: 0.6px solid;
   //font-size: 1rem;
    //font-family: 'Roboto', sans-serif

}
