.c-Tile {

  color: #2E2E2E;

  .c-Tile__content {
    //box-shadow: 0 2px 4px;
    padding: 2.875rem 1.875rem;
    height: 100%;
    background: #f5fafb;

    .c-Tile__content__symbol {
      margin-bottom: 1.4rem;
      text-align: center;
    }

    .c-Tile__content__header {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.08;
      margin-bottom: 1.15rem;
      min-height: 50px;
    }

    .c-Tile__content__body {
      display: flex;
      justify-content: center;
      //text-align: left;

      ul {
        padding-left: 1rem;
        li {
            margin-bottom: 0.75rem;
        }
      }

      ol {
        list-style: none;
        counter-reset: item;
        padding-left: 0;

        li {
          counter-increment: item;
          margin-bottom: 0.75rem;
        }
        li:before{
          background: #0b1e40;
          border-radius: 100%;
          //color: #0b1e40;
          content: "";
          font-size: 18px;
          display: inline-block;
          margin-right: 10px;
          padding: 0.1rem 0.3rem;
          //text-align: center;
          width: 10px;
          height: 10px;

        }
      }
    }

  }
}
