.c-Accordion {

    .c-Accordion__button-container:hover {
        background: #FAFAFA;
    }

    .c-Accordion__button {
        background: none;
        cursor: pointer;
        padding: 1.4rem 2rem 1.4rem 1.5rem;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.125rem;
        transition: background 0.4s ease-in-out;

        &:after {
            height: 1rem;
            width: 1rem;
            content: "";
            transition: .4s transform;
            transform: rotate(45deg);
            border-top: 3px solid #2B3339;
            border-right: 3px solid #2B3339;
            float: right;
            margin-left: 5px;
            margin-top: 5px;
        }
        &.expanded {
            font-weight: bolder;
            &:after {
                transform: rotate(135deg);
            }
        }
    }
    
    .c-Accordion__panel {
        padding: 0 1.5rem 0;
        background-color: white;
        // max-height: 0;
        overflow: hidden;
        transition: all 0.4s;

        // & > span {
        //     padding-bottom: 1rem;
        // }
        
        & > *:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &.expanded {
            padding-bottom: 1.5rem;
            overflow: scroll;

            &.slidein {

            }

            &.slideout {
                left: -100%;
                opacity: 0;;
            }
        }
    }
}
