.c-FaqSingle {
    border-bottom: 1px solid #CCCCCC;

    ol li {
        padding-left: 0.5rem;

        .c-FaqSingle__helpImage {
            cursor: pointer;
            border: 1px solid #ccc;
            margin: 1rem 0;
            padding: 0.5rem;
            width: 100%;
        }
    }

    ul {
        padding-left: 0.8rem;
        &.dashed {
            list-style-type: none;
            & > li {
                padding-left: 0;
                &:before {
                    content: "-";
                    margin-right: 1rem;
                    font-weight: bolder;
                }
            }
        }
    }
}
